#forkme_banner
  @media screen and (min-width 575px)
    display block
    position absolute
    right 26px
    top 0px
    z-index: 10

  @media print
    display: block

  a
    @media screen
      display inline-block
      padding 10px 10px 10px 10px
      position static
      color #fff
      font-weight 700
      box-shadow 0 0 10px rgba(0,0,0,.5)
      border-bottom-left-radius 2px
      border-bottom-right-radius 2px
      overflow hidden
      margin 0
      margin-right 8px

    &:last-of-type
      margin-right 0
