/* http://paletton.com/#uid=33L0u0kfSqB6iHLaTvCl9lnqJfM */

padding-start(dimension)
  -webkit-padding-start dimension
  -moz-padding-start dimension
  -o-padding-start dimension
  padding-start dimension

padding-end(dimension)
  -webkit-padding-end dimension
  -moz-padding-end dimension
  -o-padding-end dimension
  padding-end dimension

color-yellow-regular     = #D4C26B
color-yellow-light       = #FCEDA6
color-yellow-extra-light = #FFF6CD
color-yellow-dark        = #AA973A
color-yellow-extra-dark  = #7E6C15

color-blue-regular       = #4F628E
color-blue-light         = #7585A9
color-blue-extra-light   = #A8B3CC
color-blue-dark          = #2F4372
color-blue-extra-dark    = #152854

color-brown-regular      = #D49B6B
color-brown-light        = #FCCDA6
color-brown-extra-light  = #FFE4CD
color-brown-dark         = #AA6D3A
color-brown-extra-dark   = #7E4415

body
  background-color color-brown-extra-dark
  font-family 'Open Sans', sans-serif

#objective
  display none
  &:target
    display block

@media screen and (min-width: 840px)
  body
    background url(images/phx-park.jpg)
    background-repeat no-repeat
    background-size cover
    background-attachment fixed

a
  text-decoration none
  font-style italic
  color white
  display inline-block
  background-color color-blue-regular
  padding .2em 8px
  margin 0.2em 0px
  border-radius 0px

  box-shadow: 0 0 10px rgba(0,0,0,.5);

  &:target
    background-color color-brown-extra-dark

  @media print
    color black
    &[href]::after
      content: " <" attr(data-href-prefix) attr(href) ">";
    &[href=""]::after,
    &[href^="#"]::after,
    &[href^="tel"]::after
      content ''

  &.github-link
    @media screen and (min-width: 575px)
      position absolute
      right 0
      top 0
      margin-top 0

    @media screen
      &::after
        content ''
        background url('../images/blacktocat.png') #4f628e no-repeat 50% 50%
        background-origin border-box
        background-size 16px
        display inline-block
        width 16px
        height 22px
        margin -2px -2px -6px 8px

#featured:target .featured a.github-link,
.project-name:target a.github-link,
.detail-content:target .project-name a.github-link
{
  display: block;
}

@media screen {
  .project-name a.github-link {
    display: none;
  }
}

p
  font-family Georgia, times

h2, h3, h4, h5, h6
  -webkit-margin-before 0
  -webkit-margin-after 0

dd, section, header
  page-break-inside avoid

dt
  page-break-after avoid

.document
  background-color white
  overflow hidden

  box-shadow: 0 0 10px rgba(0,0,0,.4);

  &::before
    height 160px
    width 100%
    background url(phx-park.jpg)
    background-size cover
    background-clip content-box
    background-repeat no-repeat
    display block
    content ''

  > header,
  > section
    padding 0 26px
    position relative

  > section > section
    position relative
    padding-left 26px

  @media screen and (min-width: 1034px)
    width 940px
    margin-left 5%

  @media screen and (min-width: 840px)
    background-color rgba(255,255,255,.8)
    &::before
      height 0px

    > section
      margin-left 248px
      > header
        margin-left -248px
        border-top 1px solid black
      > section
        border-left 1px solid color-blue-regular
        > header
          position absolute
          left -248px
          width 248px

  @media print
    > header,
    > section > header
      text-align right

.detail-content
  position relative

  aside
    position absolute
    right 26px
    top 0

    a
      background-color color-yellow-regular

      &[href="#none"]
        display none

      &[href="#none"],
      &[href=""]
        background-color color-yellow-extra-dark

.detail-content aside a:target,
#featured:target [name=featured],
.detail-content:target [name=work]
  background-color color-yellow-extra-dark

#featured:target .detail-content aside a[href="#none"],
.detail-content:target aside a[href="#none"],
.detail-content:target aside a[href=""],
#featured:target .detail-content aside a[href=""]
  background-color color-yellow-regular !important

@media screen and (max-width: 575px)
  .detail-content aside a
    display none

  .detail-content aside a[href="#none"]
    display inline-block

@media print
  .detail-content aside
    display none

dl.projects,
dl.roles
  padding-top 1.5em

@media screen and (min-width: 575px)

  dl.projects.roles::before
    content "Projects / Roles"
    font-weight bold
    color white
    display inline-block
    background-color color-blue-regular
    padding .2em 8px
    margin-bottom 0.2em
    position absolute
    right 0

  .flat-list
    display block

#featured:target .featured + dd.project-details
  display block

.featured + dd.product-details
  position relative

@media screen

  #featured:target .featured a,
  .project-name.featured:target a,
  .detail-content:target .featured a
    &::after
      font-style italic
      content 'Featured'
      text-decoration none
      font-style italic
      color white
      display block
      background-color color-brown-extra-dark
      padding 0.2em 8px
      display inline-block
      margin 0 0.8em

    &::before
      content ''

  .featured a::before
    font-style italic
    content ' Featured: '
    color color-brown-extra-dark
    font-variant small-caps

.detail-content:target dd.project-details
  display block

ul.flat-list
  @media screen and (max-width: 575px), print
    padding-start(0px)
    padding-end(0px)

    &::before
      font-weight bold

    li > ul
      width 0
      display inline-block
      height 0
      overflow hidden

    li > ul
      margin-left -0.7em

  @media screen and (min-width: 575px)
    padding-start(40px)
    padding-end(40px)

    position relative
    padding-top 2.25em
    padding-bottom 1.5em
    background-color color-yellow-regular
    border 1px solid color-yellow-extra-dark

    &::before
      font-style italic
      text-decoration none
      font-style italic
      color white
      display block
      background-color color-blue-regular
      padding .2em 8px
      position absolute
      left 0
      top 0

  li
    display inline
    font-family 'Monserrat', Verdana, Geneva, sans-serif
    &:last-of-type::before
      content 'and '

    &:first-of-type::before
      content ''

    &:last-of-type::after
      content ''

    &::after
      content ','

  ul
    display inline-block
    padding-start(0)
    padding-end(0)
    &::before
      content "("
    &::after
      content ")"

  > ul > ul
    &::before
      content "["
    &::after
      content "]"

  &.technologies::before
    content: 'Technologies'

  &.skills
    &::before
      content 'Skills:'

    &.technologies::before
      content 'Skills and Technologies:'


dt.project-name
  position:relative

  a[href^="#"]
    background inherit
    color inherit
    font-style inherit
    display inherit
    margin inherit
    padding inherit
    box-shadow inherit
    @media screen
      &:hover
        color color-blue-regular
        text-decoration underline

  &:target + dd.project-details
    display block

@media screen
  dd.project-details
    display none

ul.references
  list-style none
  padding-start(0)
  padding-end(0)
  padding-top 1.7em

  .name
    @media screen and (max-width: 575px)
      display block

    @media screen and (min-width: 575px)
      width 248px
      display inline-block

  a
    font-style none
    font-family Georgia, times

  &::before
    content "Please Contact:"
    font-weight bold
    color white
    display inline-block
    background-color color-yellow-extra-dark
    padding .2em 8px
    margin-bottom 0.2em
    position absolute
    top 0
