body {
  background-color: #cebd73;
  font-family: 'Open Sans', sans-serif;
}
#objective {
  display: none;
}
#objective:target {
  display: block;
}
@media screen and (min-width: 840px) {
  body {
    background: url("images/phx-park.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
}
a {
  text-decoration: none;
  font-style: italic;
  color: #fff;
  display: inline-block;
  background-color: #458643;
  padding: 0.2em 8px;
  margin: 0.2em 0px;
  border-radius: 0px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
a:target {
  background-color: #cebd73;
}
@media screen and (min-width: 575px) {
  a.github-link {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 0;
  }
}
@media screen {
  a.github-link::after {
    content: '';
    background: url("../images/blacktocat.png") #458643 no-repeat 50% 50%;
    background-origin: border-box;
    background-size: 16px;
    display: inline-block;
    width: 16px;
    height: 22px;
    margin: -2px -2px -6px 8px;
  }
}
#featured:target .featured a.github-link,
.project-name:target a.github-link,
.detail-content:target .project-name a.github-link {
  display: block;
}
@media screen {
  .project-name a.github-link {
    display: none;
  }
}
p {
  font-family: Georgia, times;
}
h2,
h3,
h4,
h5,
h6 {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}
dd,
header {
  page-break-inside: avoid;
}
dd {
  page-break-before: avoid;
}
.document {
  background-color: #fff;
  overflow: hidden;
}
@media screen {
  .document {
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
  }
}
.document::before {
  height: 160px;
  width: 100%;
  background: url("images/phx-park.jpg");
  background-size: cover;
  background-clip: content-box;
  background-repeat: no-repeat;
  display: block;
  content: '';
}
.document > header,
.document > section {
  padding: 0 26px;
  position: relative;
}
.document > section > section {
  position: relative;
  padding-left: 26px;
}
@media screen and (min-width: 1034px) {
  .document {
    width: 940px;
    margin-left: 5%;
  }
}
@media screen and (min-width: 840px) {
  .document {
    background-color: rgba(255,255,255,0.8);
  }
  .document::before {
    height: 0px;
  }
  .document > section {
    margin-left: 248px;
  }
  .document > section > header {
    margin-left: -248px;
    border-top: 1px solid #000;
  }
  .document > section > section {
    border-left: 1px solid #458643;
  }
  .document > section > section > header {
    position: absolute;
    left: -248px;
    width: 248px;
  }
}
.detail-content {
  position: relative;
}
.detail-content aside {
  position: absolute;
  right: 26px;
  top: 0;
}
.detail-content aside a {
  background-color: #eddfa1;
}
.detail-content aside a[href="#none"] {
  display: none;
}
.detail-content aside a[href="#none"],
.detail-content aside a[href=""] {
  background-color: #cebd73;
}
.detail-content aside a:target,
#featured:target [name=featured],
.detail-content:target .show-all {
  background-color: #cebd73;
}
#featured:target .detail-content aside a[href="#none"],
.detail-content:target aside a[href="#none"],
.detail-content:target aside a[href=""],
#featured:target .detail-content aside a[href=""] {
  background-color: #eddfa1 !important;
}
@media screen and (max-width: 575px) {
  .detail-content aside a {
    display: none;
  }
  .detail-content aside a[href="#none"] {
    display: inline-block;
  }
}
@media print {
  .detail-content aside {
    display: none;
  }
}
dl.projects,
dl.roles {
  padding-top: 1.5em;
}
@media screen and (min-width: 575px) {
  dl.projects.roles::before {
    content: "Projects / Roles";
    font-weight: bold;
    color: #fff;
    display: inline-block;
    background-color: #458643;
    padding: 0.2em 8px;
    margin-bottom: 0.2em;
    position: absolute;
    right: 0;
  }
  .flat-list {
    display: block;
  }
}
#featured:target .featured + dd.project-details {
  display: block;
}
.featured + dd.product-details {
  position: relative;
}
@media screen {
  #featured:target .featured a::after,
  .project-name.featured:target a::after,
  .detail-content:target .featured a::after {
    font-style: italic;
    content: 'Featured';
    text-decoration: none;
    font-style: italic;
    color: #fff;
    display: block;
    background-color: #cebd73;
    padding: 0.2em 8px;
    display: inline-block;
    margin: 0 0.8em;
  }
  #featured:target .featured a::before,
  .project-name.featured:target a::before,
  .detail-content:target .featured a::before {
    content: '';
  }
  .featured a::before {
    font-style: italic;
    content: ' Featured: ';
    color: #cebd73;
    font-variant: small-caps;
  }
}
.detail-content:target dd.project-details {
  display: block;
}
@media screen and (max-width: 575px), print {
  ul.flat-list {
    -webkit-padding-start: 0px;
    -moz-padding-start: 0px;
    -o-padding-start: 0px;
    padding-start: 0px;
    -webkit-padding-end: 0px;
    -moz-padding-end: 0px;
    -o-padding-end: 0px;
    padding-end: 0px;
  }
  ul.flat-list::before {
    font-weight: bold;
  }
  ul.flat-list li > ul {
    width: 0;
    display: inline-block;
    height: 0;
    overflow: hidden;
  }
  ul.flat-list li > ul {
    margin-left: -0.7em;
  }
}
@media screen and (min-width: 575px) {
  ul.flat-list {
    -webkit-padding-start: 40px;
    -moz-padding-start: 40px;
    -o-padding-start: 40px;
    padding-start: 40px;
    -webkit-padding-end: 40px;
    -moz-padding-end: 40px;
    -o-padding-end: 40px;
    padding-end: 40px;
    position: relative;
    padding-top: 2.25em;
    padding-bottom: 1.5em;
    background-color: #eddfa1;
    border: 1px solid #cebd73;
  }
  ul.flat-list::before {
    font-style: italic;
    text-decoration: none;
    font-style: italic;
    color: #fff;
    display: block;
    background-color: #458643;
    padding: 0.2em 8px;
    position: absolute;
    left: 0;
    top: 0;
  }
}
ul.flat-list li {
  display: inline;
  font-family: 'Monserrat', Verdana, Geneva, sans-serif;
}
ul.flat-list li:last-of-type::before {
  content: 'and ';
}
ul.flat-list li:first-of-type::before {
  content: '';
}
ul.flat-list li:last-of-type::after {
  content: '';
}
ul.flat-list li::after {
  content: ',';
}
ul.flat-list ul {
  display: inline-block;
  -webkit-padding-start: 0;
  -moz-padding-start: 0;
  -o-padding-start: 0;
  padding-start: 0;
  -webkit-padding-end: 0;
  -moz-padding-end: 0;
  -o-padding-end: 0;
  padding-end: 0;
}
ul.flat-list ul::before {
  content: "(";
}
ul.flat-list ul::after {
  content: ")";
}
ul.flat-list > ul > ul::before {
  content: "[";
}
ul.flat-list > ul > ul::after {
  content: "]";
}
ul.flat-list.technologies::before {
  content: 'Technologies';
}
ul.flat-list.skills::before {
  content: 'Skills: ';
}
ul.flat-list.skills.technologies::before {
  content: 'Skills and Technologies: ';
}
dt.project-name {
  position: relative;
}
dt.project-name a[href^="#"] {
  background: inherit;
  color: inherit;
  font-style: inherit;
  display: inherit;
  margin: inherit;
  padding: inherit;
  box-shadow: inherit;
}
@media screen {
  dt.project-name a[href^="#"]:hover {
    color: #458643;
    text-decoration: underline;
  }
}
dt.project-name:target + dd.project-details {
  display: block;
}
@media screen {
  dd.project-details {
    display: none;
  }
}
ul.references {
  list-style: none;
  -webkit-padding-start: 0;
  -moz-padding-start: 0;
  -o-padding-start: 0;
  padding-start: 0;
  -webkit-padding-end: 0;
  -moz-padding-end: 0;
  -o-padding-end: 0;
  padding-end: 0;
  padding-top: 1.7em;
}
@media screen and (max-width: 575px) {
  ul.references .name {
    display: block;
  }
}
@media screen and (min-width: 575px) {
  ul.references .name {
    width: 248px;
    display: inline-block;
  }
}
ul.references a {
  font-style: none;
  font-family: Georgia, times;
}
ul.references::before {
  content: "Please Contact:";
  font-weight: bold;
  color: #fff;
  display: inline-block;
  background-color: #cebd73;
  padding: 0.2em 8px;
  margin-bottom: 0.2em;
  position: absolute;
  top: 0;
}
.print-only {
  display: none;
}
@media print {
  body {
    font-size: 75%;
  }
  .no-print {
    display: none;
  }
  .print-only {
    display: inline;
  }
  section {
    border-size: 0px;
  }
  a {
    border-size: 0px;
    color: #000;
  }
  .project-details {
    display: none;
  }
  #featured:target .project-name {
    display: none;
  }
  #featured:target .project-name.featured {
    display: block;
  }
  #featured:target .project-name.featured + .project-details {
    display: block;
  }
  .project-details p {
    display: none;
  }
  input[type=checkbox] {
    display: none !important;
  }
  input[type=checkbox]:checked + .project-name {
    display: block !important;
  }
  input[type=checkbox]:checked + .project-name + .project-details {
    display: block !important;
  }
}
#pick:target input[type=checkbox] {
  display: inline-block;
  position: relative;
  left: -20px;
  margin-bottom: -30px;
}
@media print {
  #pick:target .project-name {
    display: none;
  }
  #pick:target .project-name + .project-details {
    display: none;
  }
}
input[type=checkbox] {
  display: none;
}
input[type=checkbox]:checked + .project-name + .project-details {
  display: block;
}
@media screen and (min-width: 575px) {
  #forkme_banner {
    display: block;
    position: absolute;
    right: 26px;
    top: 0px;
    z-index: 10;
  }
}
@media print {
  #forkme_banner {
    display: block;
  }
}
@media screen {
  #forkme_banner a {
    display: inline-block;
    padding: 10px 10px 10px 10px;
    position: static;
    color: #fff;
    font-weight: 700;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    overflow: hidden;
    margin: 0;
    margin-right: 8px;
  }
}
#forkme_banner a:last-of-type {
  margin-right: 0;
}
@media screen {
  #forkme_banner a.github-link:after {
    background-size: inherit;
    width: 32px;
    height: 32px;
    margin: -8px 0px -11px 10px;
  }
}
