---
layout: home
title: Resume
oc: tune-or-explore
---
<div class="container py-3">
  <div class="row align-items-end flex-wrap">
    <div class="col-md-8 pe-2">
      <h1 class="display-1">
        Ben West
      </h1>
      <div class="h2 text-secondary">Architect & Execution Expert</div>
    </div>
    <div class="col-md-4">
      <ul class="list-unstyled">
        <li>
          <a class="link-reset" href="tel:+1 (970) 460-6664">+1 (970) 460-6664</a>
        </li>
        <li>
          <a class="link-reset" href="mailto:ben@radialdevgroup.com">ben@radialdevgroup.com</a>
        </li>
        <li></li>
      </ul>
    </div>
  </div>
  <div class="d-flex flex-row">
    <div class="col-md-8 pe-2">
      <h2>Summary</h2>
      <p>
        I am a Strategic Technical Professional relentlessly focused on helping people, teams, and companies achieve more than they thought possible through providing visionary execution and by going above and beyond when needed. Energized by conquering complex challenges and fueled by taking in new information, making critical decisions, I am self-motivated and able to hit the ground running, regardless of the domain. Combine solid technical abilities, business acumen, and relationship building skills to products and solutions efficiently tailored to real world customer success.
      </p>
      <h2 id="experience">Experience</h2>
      {% for experience in site.experience %}
        {% if experience.display != 'false' %}
          <section id="previous-experience-{{ experience.name | slugify: "latin" }}">
            <h3>
              <strong>{{ experience.title }}</strong>
              –
              <em>{{ experience.name }}
                {% if experience.title-detail %}
                  • {{ experience.title-detail }}
                {% endif %}
              </em>
              – {{ experience.tenure }}
            </h3>

            {{ experience.content }}

            {% if experience.key-accomplishments %}
              <h4>Key Accomplishments:</h4>
              <ul>
                {% for accomplishment in experience.key-accomplishments %}
                  <li>{{ accomplishment }}</li>
                {% endfor %}
              </ul>
            {% endif %}
            {% if experience.skills %}
              <ul class="list-star">
                {% for skill in experience.skills %}
                  <li>{{ skill }}</li>
                {% endfor %}
              </ul>
            {% endif %}
          </section>
        {% endif %}
      {% endfor %}

      <h2 id="education">Education</h2>
      <section>
        <h3>
          <strong>IT and Technology Professional (not completed)</strong>
          –
          <em>Nefarious Institution</em>
          – 2002-2004</h3>

        <h4>Course of Study:</h4>
        <ul class="list-star">
          <li>Internet networking</li>
          <li>Desktop Support</li>
          <li>Windows and Unix Technology</li>
          <li>General Education</li>
        </ul>
      </section>

      <section>
        <h3>
          <strong>Concurrent Enrollment</strong>
          –
          <em>Aims Community College</em>
          – 2001-2002</h3>

        <h4>Course of Study:</h4>
        <ul class="list-star">
          <li>Computer Science</li>
        </ul>
      </section>

      <section>
        <h3>
          <strong>High School</strong>
          –
          <em>Union Colony Preparatory School</em>
          – Class of 2002</h3>
        <h4>Course of Study:</h4>
        <ul class="list-star">
          <li>Journalism</li>
          <li>Communications</li>
          <li>Document Review</li>
          <li>Thesis</li>
          <li>Advance Mathematics</li>
          <li>Foreign Language (Esp)</li>
        </ul>
      </section>
    </div>
    <div class="col-md-4">
      <div>
        <h2>Skills</h2>
        <ul id="list-skills" class="justify-content-center"></ul>
        <script
          lang="text/javascript"
          type="module"
          src="assets/js/resume.js"></script>
      </div>
    </div>
  </div>

  {% include tune-or-explore.html oc=page.oc %}
</div>
