{% if include.oc | default: page.oc %}
  <div
    class="offcanvas offcanvas-start"
    tabindex="-1"
    id="{{ include.oc | default: page.oc }}">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Mode Configuration</h5>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="offcanvas"
      aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div id="mode">
      <input
        type="radio"
        class="btn-check"
        name="mode"
        autocomplete="off"
        id="tune-mode-option">
      <label class="btn" for="tune-mode-option">Tune</label>

      <input
        type="radio"
        class="btn-check"
        name="mode"
        autocomplete="off"
        id="explore-mode-option">
      <label class="btn" for="explore-mode-option">Explore</label>
    </div>
    <button
      type="button"
      class="btn btn-warning"
      id="reset">Reset</button>
  </div>
  <script lang="javascript" type="module">
    const container = document.querySelector('#mode');
    const buttons = Array.from(container.querySelectorAll('input[type=radio][name="mode"]'));
    export const state = {};
    const url = URL.parse(window.location);
    state.mode = url.searchParams.get('mode') ?? 'explore';
    const updateMode = (newMode) => {
      window.requestAnimationFrame(() => {
        state.mode = newMode
        const currentModeButton = buttons.find((el) => {
          return el.id === `${state.mode}-mode-option`
        });
        (currentModeButton ?? {}).checked=true;
        container.dataset['mode'] = state.mode;
      });
    }

    buttons.forEach((button) => {
      button.addEventListener('change', (e) => {
        e.preventDefault();
        updateMode(button.id.replace('-mode-option', ''));
        return false;
      });
    });

    updateMode(state.mode);
  </script>
{% endif %}
