---
layout: default
---
<header class="d-print-none">
  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="/">About Me</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarCollapse"
        aria-controls="navbarCollapse"
        aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ms-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link" href="/resume.html">Resume</a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              target="_blank"
              rel="external noopener nofollow noreferrer "
              href="https://linkedin.com/in/mrgenixus">LinkedIn</a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link github-link"
              target="_blank"
              rel="external noopener nofollow noreferrer "
              href="https://github.com/mrgenixus">Github</a>
          </li>
          <li class="nav-item">
            {% if page.oc %}
              <a
                class="navbar-toggler d-none d-md-block ms-3"
                type="button"
                data-bs-toggle="offcanvas"
                data-bs-target="#{{page.oc}}"
                aria-controls="offcanvasNavbar"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </a>
              <a
                class="nav-link d-md-none"
                data-bs-toggle="offcanvas"
                data-bs-target="#{{page.oc}}"
                aria-controls="offcanvasNavbar"
                aria-label="Toggle navigation">
                <span>Page Menu</span>
              </a>
            {% endif %}
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<!-- Begin page content -->
<main class="flex-shrink-0">
  {{ content }}
</main>

<footer class="d-print-none footer mt-auto py-3 bg-body-tertiary">
  <div class="container">
    <div class="d-flex flex-row">
      <div class="col-md-4">
        <h1>Benjamin West</h1>
      </div>
      <div class="col-md-4 offset-md-4">
        <a class="link-reset" href="tel:+1 (970) 460-6664">+1 (970) 460-6664</a><br/>
        <a class="link-reset" href="mailto:ben@radialdevgroup.com">ben@radialdevgroup.com</a>
      </div>
    </div>
  </div>
</footer>
